<!DOCTYPE html>
<html>
  {% include head.html %}
  <script type="text/javascript">$(".wrapper-footer").before($(".foot-source"));</script>	
  <body>
    {% include nav.html %}

    <div id="main" role="main" class="container">
      {{ content }}
    </div>
    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include footer.html %}
        </footer>
      </div>
    </div>
    <div class="foot-source" style="text-align: center";>	
			 <img src="./images/strict.jpg" style="max-width: 100%;height: auto;"   class="img-responsive">
    </div>	

    {% include analytics.html %}
  </body>
</html>
